body{
    /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}